<div class="job-ad-item-wrapper mat-elevation-z6">
  <div class="info">
    <div class="header">
      <h2>{{jobAd?.title}}</h2><h3>({{jobAd?.status}})</h3>
    </div>
    <mat-divider></mat-divider>
    <span class="description">{{jobAd?.description}}
    </span>
    <mat-divider></mat-divider>
    <mat-chip-set class="skills">
      <mat-chip *ngFor="let skill of jobAd?.skills">{{skill}}</mat-chip>
    </mat-chip-set>
  </div>
  <div class="actions">
    <mat-icon class="icon" aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon>
    <mat-icon class="icon" aria-hidden="false" aria-label="Delete" fontIcon="delete"></mat-icon>
  </div>
</div>
