.job-ad-item-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 160px;
  border-radius: 5px;
  margin-bottom:20px;
  border: 1px solid black;

  .info {
    width: 100%;
    padding:10px;
    .header {
      display: flex;
      justify-content: space-between;
      h2 {
        margin: 0 0 7px;
      }

      h3 {
        margin: 0;
        opacity: 0.7;
        padding: 0 0 0 5px;
      }
    }
    .description {
      padding: 10px 0 10px 0;
      display: block;
    }

    .skills {
      padding: 10px 0 10px 0;
    }
  }

  .actions {
    width: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .icon {
      opacity: 0.7;
      padding: 5px;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}
