.form-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 480px;

  @media (min-width: 992px ) {
    width: 600px;
    height: 480px;
   }

   @media (max-width: 991px) {
    width: 450px;
   }

   @media (max-width: 991px) {
    width: 300px;
   }

  .field {
    padding-bottom: 10px;
    width: 100%;
  }
}

.action-buttons {
  display: flex;
  justify-content: end;
}
