.header {
  height: 80px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;

  .header-items {
    width: 960px;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    .add-button-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 992px) {
        padding-right: 15px;
       }

      .add-button {
        background-color: white;
      }
    }

    .links {
      display: flex;
      .active {
        border-bottom: 4px solid black;
      }

      .link {
        height: 80px;
        padding: 0 15px 0 15px;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;

        .text {
          width: 70px;
          display: inline-block;
          text-align: center;
        }

        &:hover {
          background: rgb(240, 240, 240, 0.6);
        }
      }
    }
  }

}
