.header {
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  left: 0;

  .links {
    width: 960px;
    margin-left:auto;
    margin-right: auto;
    display: flex ;

    .active {
      border-bottom: 4px solid black;
    }

    .link {
      height: 80px;
      padding: 0 15px 0 15px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;

      .text {
        width: 70px;
        display: inline-block;
        text-align: center;
      }

      &:hover {
        background: rgb(240, 240, 240, 0.6);
      }
    }
  }
}
