<div class="header mat-elevation-z6">
<app-error></app-error>
  <div class="header-items">
    <div class="links">
      <div class="link" routerLink="/jobs" routerLinkActive="active">
        <span class="text">Jobs</span>
      </div>
      <div class="link" routerLink="/invoices" routerLinkActive="active">
        <span class="text">Invoices</span>
      </div>
    </div>
    <div class="add-button-wrapper" *ngIf="isJobsRouteActive$ | async">
      <button type="button" (click)="openDialog()" class="add-button" mat-raised-button>
        <mat-icon>add</mat-icon>
        Job Ad
      </button>
    </div>
  </div>
</div>
