.job-ads-wrapper {
  .static-part {
    position: sticky;
    top: 80px;
    right: 0;
    z-index: 99;
    background-color: white;
    padding: 15px;
  }
  .search-empty {
    padding-left: 15px;
  }
  .job-ad-list {
    padding: 0 15px 15px 15px;
  }
}
