.job-ads-wrapper {
  .add-button-wrapper {
    display: flex;
    justify-content: center;
    height: 55px;
    align-items: center;
    position: sticky;
    top: 182px;

    .add-button {
      background-color: white;
    }
  }
}
